In [8]:
#Data structure >> It is a way of organizing and storing data so that it can be accessed and manipulated efficiently

In [9]:
#List >> You can store anything in list>> can store heterogenous data
#List is an ordered collection of elements that can be of any data type
#Lists are mutable

In [10]:
num = [1 ,2 ,3 ,4 ,5]
num

[1, 2, 3, 4, 5]

In [11]:
type(num)

list

In [12]:
num[0]

1

In [13]:
num[-3]

3

In [14]:
num[5]

IndexError: list index out of range

In [15]:
a = [1 ,2 ,3.3, "baigan", "tomato", "banana", True, False, 3+7j]

#List can store any data type>> heterogenous data structure
a

[1, 2, 3.3, 'baigan', 'tomato', 'banana', True, False, (3+7j)]

In [16]:
a.append("pwskills") #adding element the list
a

[1, 2, 3.3, 'baigan', 'tomato', 'banana', True, False, (3+7j), 'pwskills']

In [ ]:
a.remove("pwskills")        #removes the value
a

[1, 2, 3.3, 'baigan', 'tomato', 'banana', True, False, (3+7j)]

In [18]:
#list inside list
lis = [[1,2,3], [4,5,6], [7,8,9]]
lis

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
type(lis)

list

In [23]:
#accessing the 6 in 1st index

lis[1][2]

6

In [25]:
#list is mutable
shopping_list = ["Brinjal", "Apple", 2, 3.4, True]
shopping_list[0] = "Potato"
shopping_list

['Potato', 'Apple', 2, 3.4, True]

In [26]:
for item in shopping_list:
    print(item, end = " ")

Potato Apple 2 3.4 True

In [28]:
#Tuple >> () parenthesis
#Tuples are immutable

point = (2, 3)
point

(2, 3)

In [29]:
type(point)

tuple

In [30]:
#use case >> ADHAAR card, employ ID, atm>> you don't want to change, you will use tuple to store data
#tuple>>heterogenous data

t = (1, 2, 3.3 , True, 3+5j, "Ajay")
type(t)

tuple

In [31]:
t

(1, 2, 3.3, True, (3+5j), 'Ajay')

In [32]:
emp_name = ("Ajay", "Ajay1", "Bijay", "Sanjay")
type(emp_name)

tuple

In [33]:
emp_name[1]

'Ajay1'

In [ ]:
emp_name[2] = "Rahul"           #Tuple are immmutable

TypeError: 'tuple' object does not support item assignment

In [36]:
box1 = ("a" , "b")
box2 = ("c" , "d")
choc_bag = (box1, box2)
choc_bag

(('a', 'b'), ('c', 'd'))

In [37]:
for box in choc_bag:
    for choc in box:
        print(choc)

a
b
c
d

In [38]:
# Sets --> {} >> are unordered collection of unique element
s = {"red", "orange"}
type(s)

set

In [1]:
s = {"red", "orange", "blue", "red", "orange", 1, 2 ,3.3}
s

{1, 2, 3.3, 'blue', 'orange', 'red'}

In [43]:
s[0]        #error>> no concept of of indexing as sets are unordered and unique

TypeError: 'set' object is not subscriptable

In [2]:
s.add("pwskills")           #sets are mutable
s

{1, 2, 3.3, 'blue', 'orange', 'pwskills', 'red'}

In [4]:
s.remove(3.3)
s

{1, 2, 'blue', 'orange', 'pwskills', 'red'}

In [5]:
#Use Case of sets>> to get unique elements
grocery_list = {"apple", "banana", "banana", "eggs", "eggs"}
grocery_list

{'apple', 'banana', 'eggs'}

In [ ]:
#Dictionaries >> which stores data in the form of key value pair

In [8]:
my_dict = {}
type(my_dict)

dict

In [9]:
my_dict = {"key_course": "data science", "duartion": 200}
my_dict

{'key_course': 'data science', 'duartion': 200}

In [10]:
#Use Case

phonebook = {"dad" : 12344, "mom":6788}
phonebook

{'dad': 12344, 'mom': 6788}

In [11]:
phonebook["dad"]

12344

In [12]:
phonebook = {"dad" : 12344, "mom":6788, "dad" :68997}
phonebook

{'dad': 68997, 'mom': 6788}

In [13]:
rest_menu = {"paneer_kofta": 480, "chicken_handi" : 590}
rest_menu

{'paneer_kofta': 480, 'chicken_handi': 590}

In [14]:
rest_menu['paneer_kofta'] = 790
rest_menu

{'paneer_kofta': 790, 'chicken_handi': 590}

In [15]:
phonebook["dad"] = "I have taken a new no. again, I don't want to tell u"
phonebook

{'dad': "I have taken a new no. again, I don't want to tell u", 'mom': 6788}

In [16]:
rest_menu.keys()

dict_keys(['paneer_kofta', 'chicken_handi'])

In [17]:
phonebook.keys()

dict_keys(['dad', 'mom'])

In [18]:
rest_menu.values()

dict_values([790, 590])

In [19]:
phonebook.values()

dict_values(["I have taken a new no. again, I don't want to tell u", 6788])

In [20]:
# Array >> It is similar to list >> homogenous data

#String
s = "Ajay"
type(s)

str

In [21]:
for i in s:
    print(i)

A
j
a
y

In [23]:
s[0] = "b"          #strings are immutable

TypeError: 'str' object does not support item assignment