In [ ]:
#String is a sequence of characters where each character is a single unit of text whcih is helpful to represent and manipulate textual data.
#Characters are represented using numerical values >> each character is assigned a unique value.
# ASCII(7 bits) and UNICODE (16 bits) >> 2 to power 7 
# 128 characters has been encoded whereas UTF is 2 to power 16 almost covered every character of every language

#UTF-8 , UTF-16>> popular encoding schemes for unicode>> widely accepted in industry
#ASCII >> American Standard Code For Information Interchange
#UTF >> Unicode Transformation Format

In [1]:
#ASCII representation
char = "A"
ord(char)                       #ord>> ordinal, means what is numerical order of character

65

In [2]:
ord("a")

97

In [3]:
#UNICODE representation
#omega

'\u03A9'

'Ω'

In [4]:
'\u0973'

'ॳ'

In [6]:
#strings 
string1 = "pwskills"
string1

'pwskills'

In [7]:
'I'm a student'

SyntaxError: unterminated string literal (detected at line 1) (2178431395.py, line 1)

In [8]:
"I'm a student"

"I'm a student"

In [9]:
"I"m a student"

SyntaxError: unterminated string literal (detected at line 1) (2308969403.py, line 1)

In [10]:
"""I"m a student"""

'I"m a student'

In [11]:
'''I'm a student
I study in pwskills
I am a data scientist'''

"I'm a student\nI study in pwskills\nI am a data scientist"

In [13]:
#concatenation of string >> combination of two string

"Hello" + " World"

'Hello World'

In [14]:
string1 = "hello"
string2 = "world!"
string1 + "," + string2

'hello,world!'

In [15]:
"string" + ">>" + "concatenation"

'string>>concatenation'

In [16]:
#EXTRACT / SLICING OF STRING
a = "Ajay"
a[0]

'A'

In [ ]:
string1 = "I am a good student"
string1[0:4]                        #4 is exclusive [a,b] >> it will give result till b-1 index

'I am'

In [18]:
string1[5:12]

'a good '

In [ ]:
string1[0:]          #start index : end index >> if you not provide end index, it will be default give substring till the last index

'I am a good student'

In [20]:
#Except the last three character
strings2 = "pwskills"
strings2[:-3]

'pwski'

In [21]:
#you want only last characters
strings2[-3:]

'lls'

In [23]:
string2 = "hello world!"
string2[0:5:1]          #by default step is 1

'hello'

In [24]:
string2[0:5:2]

'hlo'

In [26]:
string2[::2]

'hlowrd'

In [29]:
#iterate over the sequence in reverse order 
#it means start from the end, move to the beginning a dstep backwards by one character
string2[::-1]

'!dlrow olleh'

In [30]:
s = "pwskills"
s[0]

'p'

In [31]:
s[0] = "a"              # strings are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
len(s)          #number of character

8

In [33]:
s = "I am a good student"
len(s)

19

In [ ]:
#MODIFICATION OF STRING
s + "I am a student"
s.replace("student", "teacher")         #modification

'I am a good teacher'

In [38]:
#USE CASE 
address = "123 suhana apt, Marathalli, Bangalore"
address.replace("apt", "apartment")

'123 suhana apartment, Marathalli, Bangalore'

In [39]:
text = "BRB, TTYL, LOL"
text.replace("BRB", "Be right back").replace("TTYL", "Talk to you later"). replace("LOL", "Laughing out loud")

'Be right back, Talk to you later, Laughing out loud'

In [ ]:
text = "Hello World"
text.lower()        #lower case

'hello world'

In [41]:
text.upper()        #upper case

'HELLO WORLD'

In [43]:
text= "I am a Student"
text.title()    #First letter of each word

'I Am A Student'

In [44]:
text.swapcase()             #small to capital and capital to small

'i AM A sTUDENT'

In [ ]:
text.capitalize()           #only the first letter of the sentence is capitalized

'I am a student'

In [46]:
#STRING SEARCHING
sentence = "I am a student at pwskills"
"am" in sentence

True

In [47]:
sentence = "I am a student at pwskills"
search_word = "am"
if search_word in sentence : 
    print("The search word is present")
else:
    print("Not present")

The search word is present

In [48]:
email = "Anu123"
if "@" in email:
    print("valid email")
else:
    print("Invalid Email")

Invalid Email

In [ ]:
document = "text.pdf"
if ".pdf" in document:
    print("It is a document file")
else:
    print ("Not valid document")

In [49]:
#STRING COMPARISON
str1 = "hello"
str2 = "hello"
str1 == str2

True

In [ ]:
str1 = "Hello"                  #python is case sensitive
str2 = "hello"
str1 == str2

False

In [51]:
str1.lower() == str2.lower()

True

In [52]:
reg_username = ["pw", "PW", "pW"]
new_user = "PW1"
if new_user in reg_username:
    print("already in use")
else:
    print("username is available")

username is available

In [54]:
product_code = "P123"
scanned_code = input("scan the product code")
print("scanned_code is", scanned_code)
if product_code == scanned_code:
    print("The price is 100")
else:
    print("Talk to receptionist")

scanned_code is P124
Talk to receptionist

In [56]:
#STRING ORDERING
name = ["Anurag", "Harsh", "Dheeraj"]
sorted(name)

['Anurag', 'Dheeraj', 'Harsh']

In [57]:
playlist = ["KKRH", "Magic", "Singham", "Alishan"]
sorted(playlist)

['Alishan', 'KKRH', 'Magic', 'Singham']

In [58]:
#Common String Operators
input_str = "               pw                      "
input_str

'               pw                      '

In [59]:
input_str.strip()           #Strip removes the leading and trailing whitespaces

'pw'

In [60]:
#STRING SPLITTING
data ="Ajay, data science, teacher"
data

'Ajay, data science, teacher'

In [62]:
teacher_info = data.split(',')
teacher_info

['Ajay', ' data science', ' teacher']

In [63]:
name = teacher_info[0]
subject = teacher_info[1]
des = teacher_info[2]

In [65]:
name

'Ajay'

In [67]:
subject

' data science'

In [66]:
des

' teacher'